/* src\app\views\app.css */
/*头部导航栏*/
.navbar{
    height:50px;
    background:linear-gradient(to bottom,#fff,#eee);
    border-bottom: 1px solid #d4d4d4;
    margin-bottom:0;
}
/*头部天天菜园商标*/
.navbar-brand{
    padding:10px 0 0 15px;
}
.navbar-brand h1,.navbar-brand h2{
    margin:0;
    text-align:center;
    color:black;
    font-weight:bold !important;
}
.navbar-brand h1{
    font-size: 16px;
}
.navbar-brand h2{
    font-size: 12px;
}

.navbar-brand h1 span,.navbar-brand h2 span{
    color:orange;
}

/*头部右侧登录区域*/
.navbar-brand +div{
    float:right;
    height:100%;
    padding:15px 15px 0 0 ;

}
.navbar-brand +div>span{
    margin-left:5px;
}
.navbar-brand +div>span:last-child{
    color:#b12704;
}
.navbar-brand +div>span:last-child::before{
    color:#333;

}
/*底部*/
footer{
    text-align: center;
    height:60px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
footer > div:first-child{
    margin:10px 0;
}
footer>div:last-child{
    color:#aaa;
    font-size:12px;
}