<!--src\app.html 根视图-->
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a [routerLink]="'/'">
                <h1>天天菜园</h1>
                <h2>
                    <span>D</span>aily<span>G</span>reens.shop
                </h2>
            </a>
        </div>
        <div>
            <a [routerLink]="'/customer/log-in'" *ngIf="!customerName; else welcome">登录 </a> 
            <ng-template #welcome>欢迎您：{{customerName}} </ng-template>
            <span class="glyphicon glyphicon-shopping-cart" [routerLink]="'/cart'">
               <span auth> {{cartTotal}} </span>
            </span>
        </div>
    </div>
</nav>
<div class="container" [@routeAnimation]="getPath(routerOutlet)" style="height:calc(100vh - 150px)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<footer>
    <div>还不是客户吗？<a [routerLink]="'/customer/sign-up'">注册</a></div>
    <div>&copy; 2024-2026 DailyGreens.shop</div>
</footer>
 