<!--src\app.html-->
<h2>欢迎来到宠物商店 {{msg}}</h2>
<div>
    我们拥有 {{petCount}} 只宠物，他们分别是：
</div>
<div *ngFor="let pet of pets">
 科：{{pet.family}}<br />
 名字：{{pet.name}}<br />
 价格：{{pet.price|currency}}<hr />
</div>