<div class="row">
    <div class="col-xs-12 col-md-6 nameDescription">
        <div [ngSwitch]="ware?.promotion">
            <span *ngSwitchCase="1">[减]</span>
            <span *ngSwitchCase="2">[赠]</span>
            <span *ngSwitchCase="3">[返]</span>
            <a href="#" *ngSwitchDefault>促销通知</a>
            {{ware?.name}}
        </div>
        <div>
            {{ware?.description}}
        </div>
    </div>

    <div class="col-xs-12 col-md-6 wareImageContainer">
        <img [src]="ware?.imageUrl" />
    </div>
    <div class="col-xs-12 col-md-6 rest">
        <div class="row">
            <div class="col-xs-6 col-md-2">上架时间：</div>
            <div class="col-xs-6 col-md-10">{{ware?.addedTime|date:"yyyy-MM-dd HH:mm"}}</div>
        </div>
        <div class="row">
            <div class="col-xs-6 xs-md-2">库存：</div>
            <div class="col-xs-6 xs-md-10">
                <span *ngIf="ware?.stock==0;else onSale">已售罄</span>
                <ng-template #onSale>
                    <span *ngIf="ware?.stock<10;else sellingOut" class="sellingOut">仅剩 {{ware?.stock}} 斤</span>
                    <ng-template #sellingOut>{{ware?.stock}} 斤</ng-template>
                </ng-template>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-2">售价：</div>
            <div class="col-xs-6 col-md-10">
                <span [class.cheap]="ware?.price<1">
                    {{ware?.price|currency:'CNY':'symbol-narrow'}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-2"></div>
            <div class="col-xs-6 col-md-10"><a href="#">免费配送</a></div>
        </div>
    </div>



    <div class="col-xs-12 col-md-6 addToCart">
        <div class="row">
            <form (ngSubmit)="addToCart()" #addingForm="ngForm" ngForm>
            <div class="col-xs-12 col-md-3">
                数量：
                <input type="number" name="wareCount" [(ngModel)]="wareCount" class="form-control" required pattern="^[1-9][0-9]*$" #wareCountControl="ngModel" />
                <span *ngIf="!wareCountControl.valid&&(wareCountControl.touched||wareCountControl.dirty)">请输入合法的数字！</span>
            </div>
            <div class="col-xs-12 col-md-9">
                <button type="submit" [disabled]="!addingForm.valid ||!ware?.stock" class="btn">加入购物车</button>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="message" *ngIf="message">
    {{message}}
</div>