/*src\app\views\ware-detail.css 商品详情页样式*/

:host{
    display:block;
}
/*商品名称和描述*/
.nameDescription{
    float: right;
}
.nameDescription>div{
    margin-bottom:5px;
}
.nameDescription >div>*:first-child{
    font-size: 12px;
}
.nameDescription>div>*:last-child{
    font-weight: bold;
    font-size: 15px;
}
@media (max-width:992px) {
    .nameDescription{
        margin-bottom:15px;
    }
}
/*商品图片容器*/
.wareImageContainer{
    text-align:center;
}
/*商品图片*/
.wareImageContainer img{
    width:60%;
}
.rest{
    margin-top:15px;float:right;
}
.rest > .row{
    margin-top:5px;
}
.rest> .row:last-child>div{
    margin-bottom:10px;
}
@media (max-width:992px) {
    .rest>div.row>div.col-xs-6:first-of-type{
        text-align: right;
    }
}
/*低价格样式*/
.cheap{
    color:#b12704;
    font-size: 14px;
    font-weight: bold;
}
/*畅销商品库存样式*/
.sellingOut{
    color:#b12704;
    font-weight: bold;
}
/*添加到购物车*/
.addToCart{
    margin-top:15px;
}
.addToCart .row>div:first-child{
    margin-top:10px;
}
.addToCart .btn{ 
    background:linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-color:#f7dfa5;
    color:black;
    font-size:16px;
    height:40px; 
    margin-top: 20px;
}
@media(max-width:992px){
    .addToCart .row>div:last-child{
        margin-top:10px;
    }
    .addToCart .btn{
        width:100%;
        height:50px;
    }
}
/*输入框*/
.form-control{
    height:30px;
    width:80px;
    display: inline;
}

.row{
    display:block;
    flex-wrap: unset;
}
.row>[class*='col-']{
    display:block;
    flex-direction: unset;
}

/*提示的样式*/
@keyframes message-show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.message{
    animation: message-show 0.5s;
    position: absolute;
  
    border-radius: 3px;
    background-color: rgba(50,50,50,0.7);
    top:calc(50% - 30px); /*注意减号两边要各有一个空格*/
    left:calc(50% - 50px);
    color:white;
    font-size:14px;
    line-height:14px;
    font-weight: bold;
    text-align: center;
    padding : 23px 20px;
}