.cheap{
    color:#b12704;
    font-size: 18px;
    font-weight: bold;
}

.fontGray{
    color:#999;
}

img{width:100%;}

/*商品行：第一个商品都被显示在一个行中*/
.wareRow{
    margin-bottom:10px;
}
/*商品行图片列*/
.wareRow > .col-xs-4{
    padding-right:10px;
}

.wareRow > .col-xs-8{
    padding-left:5px;
}

.wareRow > .col-xs-8 > div.row{
    font-size: 13px;
    padding-left:15px;
    margin-bottom:5px;

}

.wareRow > .col-xs-8 > div:first-child{
    margin-bottom:10px;
    font-size:12px;
}
.wareRow > .col-xs-8 > div:first-child > a:last-child{
    
    font-size:15px;
}

.wareRow > .col-xs-8 > div.row > div{
    padding:0;
}
.wareRow > .col-xs-8 > div.row > div.col-xs-7{
    padding:0 15px 0 2px;
}