h3{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.row:first-child > div:last-child{
    text-align: right;
}

.row:first-child > div:last-child > a{
    margin:20px 0;
}

input:not([type="checkbox"]){
    height:45px;
    margin-bottom: 15px;
}

form > div:last-of-type > label{
    font-weight: normal;
    line-height: 20px;
    margin-left: 10px;
    width: calc(100%-35px);
}
form > div:last-of-type > input{
    display:none;
}
form > div:last-of-type > input:checked + div>span{
    display: inline-block;
}
form > div:last-of-type > div{
    display: inline-block;
    float:left;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
}
form > div:last-of-type > div>span{
    display:none;
    margin-top:1px;
    color:#f0c14b;
}

.btn{
    height:50px;
    background-color: #f0c14b;
    background:linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-color:#f7dfa5;
    color:black;
    font-size: 16px;
    width: 100%;
    margin:10px 0;
}

/*错误信息的相关样式*/
@keyframes tip-show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.validationTips{
    animation:tip-show .5s;
    margin:-10px 0 10px 1px;
    color:#a94442;
    font-size:13px;
}
.validationTip{
    animation:tip-show .5s;
}
