<!--src\customers\views\sign-up.html客户登录页HTML-->
<div class="row">
    <div class="col-xs-6">
        <h3>
            登录
        </h3>
    </div>
    <div class="col-xs-6">
        <a>忘记密码</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form ngForm (ngSubmit)="logIn();" #logInForm="ngForm">
            
            <input type="tel" name="phone" [(ngModel)]="customer.phone" class="form-control" placeholder="手机号码" required="required" pattern="^\d{11}$" #phoneModel="ngModel"/>
            <div class="validationTips" *ngIf="!phoneModel.valid && (phoneModel.touched||phoneModel.dirty)">
                <div class="validationTip" [hidden]="!phoneModel.errors.required">请输入您的手机号</div>
                <div class="validationTip" [hidden]="!phoneModel.errors.pattern">请输入11位数字</div>
            </div>
            

            <input type="password" name="password" [(ngModel)]="customer.password" class="form-control" placeholder="密码" required="required" pattern="^[^<>&#39;&#34;\s]{6,16}$" #passwordModel="ngModel"/>
            <div class="validationTips" *ngIf="!passwordModel.valid && (passwordModel.touched||passwordModel.dirty)">
                <div class="validationTip" [hidden]="!passwordModel.errors.required">请输入登录密码</div>
                <div class="validationTip" [hidden]="!passwordModel.errors.pattern">请输入不包含&gt;,&lt;,',"和空格的6-16个字符</div>
            </div>
           
            <div>
                <label for="persist">记住登录状态</label>
                <input type="checkbox" name="persist" id="persist" [(ngModel)]="shouldPersist" >
                <div><span class="glyphicon glyphicon-ok"></span></div>
            </div>
            <button class="btn" type="submit" [disabled]="!logInForm.valid">登录</button>
        </form>
        <span>登录本网站即表明您同意我们的<a>使用和销售条款条件</a>及<a>隐私声明</a></span>
    </div>
 
</div>