<!--src\customers\views\sign-up.html 客户注册HTML界面-->
<h3>注册新客户</h3>
<div class="row">
    <div class="col-xs-12">
        <form ngForm (ngSubmit)="signUp()" #signUpForm="ngForm">

            <input type="text" name="name"  [(ngModel)]="customer.name" class="form-control" placeholder="您的姓名" required minlength="2" maxlength="8" pattern="^[^<>&#34;&#39;\s]+$" #nameModel="ngModel" />
            <div class="validationTips" *ngIf="!nameModel.valid && (nameModel.touched||nameModel.dirty)">
                <div class="validationTip" [hidden]="!nameModel.errors.required">请输入您的姓名</div>
                <div class="validationTip" [hidden]="!nameModel.errors.pattern">不能包含&gt;, &lt; ,&#34;, &#39;和空格</div>
                <div class="validationTip" [hidden]="!nameModel.errors.minlength">必须是2个字符以上</div>
                <div class="validationTip" [hidden]="!nameModel.errors.maxlength">最大只能是8个字符</div>
            </div>

            <input type="tel" name="phone"  [(ngModel)]="customer.phone" class="form-control" placeholder="您的手机号码" required pattern="^\d{11}$" #phoneModel="ngModel"/>
            <div class="validationTips" *ngIf="!phoneModel.valid && (phoneModel.touched||phoneModel.dirty)">
                <div class="validationTip" [hidden]="!phoneModel.errors.required">请输入您的手机号</div>
                <div class="validationTip" [hidden]="!phoneModel.errors.pattern">请输入11位数字</div>
            </div>

            <input type="password" name="password" [(ngModel)]="customer.password" class="form-control" placeholder="创建密码" required pattern="^[^<>&#39;&#34;\s]{6,16}$" #passwordModel="ngModel"/>
            <div class="validationTips" *ngIf="!passwordModel.valid && (passwordModel.touched||passwordModel.dirty)">
                <div class="validationTip" [hidden]="!passwordModel.errors.required">请输入登录密码</div>
                <div class="validationTip" [hidden]="!passwordModel.errors.pattern">请输入不包含&gt;,&lt;,',"和空格的6-16个字符</div>
            </div>

            <input type="email" name="email" [(ngModel)]="customer.profile.email" class="form-control" placeholder="您的邮箱地址（可选）" pattern="^[^@<>&#34;&#39;\s]+?@[^@<>&#34;&#39;\s]+?\.[^@<>&#34;&#39;\s]+$" #emailModel="ngModel" />
            <div class="validationTips" *ngIf="!emailModel.valid && (emailModel.touched||emailModel.dirty)"> 
                <div class="validationTip" [hidden]="!emailModel.errors.pattern">请输入a@b.c格式的邮箱，并且不包含&gt;,&lt;,',"和空格字符</div>
            </div>

            <div>
                <label for="agree">我已阅读并同意网站的<a>使用条款</a>及<a>隐私声明</a></label>
                <!--书中代码没有id，经测试上面的label for 指向的是id而不是name-->
                <input type="checkbox" name="agree" id="agree"  [(ngModel)]="agree"/>
                <div><span class="glyphicon glyphicon-ok"></span></div>
            </div>
            <button type="submit" class="btn" [disabled]="!signUpForm.valid">
                注册您的账户
            </button>
        </form>
    </div> 
 
</div>

 