<!--src\carts\views\search.html 商品搜索视图-->
<div class="wrapper row">
    <form (ngSubmit)="search()" #searchForm="ngForm">
        <div class="row">
            <div class="col-xs-9">
                <input type="text" [ngStyle]="searchBoxStyle" name="wareName" [(ngModel)]="wareName" required class="form-control" placeholder="search the product..." />
            </div>
            <div class="col-xs-3">
                <button type="submit" [disabled]="!searchForm.valid" [@activeInactive]="searchForm.valid&&changesChecked ?'active':'inactive'" class="btn btn-warning glyphicon glyphicon-search"></button>
            </div>
        </div>
    </form>
</div>