/* src\carts\views\cart.css 购物车页面样式 */
img{
    width:100%;
}
.wareRow{
    margin-bottom:10px;
}
.wareRow > .col-xs-4 {
    padding-right:10px;
}
.wareRow>.col-xs-8{
    padding-left: 5px;
}
.wareRow>.col-xs-8>div.row{
    font-size:13px;
    padding-left: 15px;
    margin-bottom:5px;
}
.wareRow>.col-xs-8>div:first-child{
margin-bottom: 10px;
font-size: 12px;;
}
.wareRow>.col-xs-8>div:first-child>a:last-child{
    font-size:15px;
}
.wareRow>.col-xs-8>div.row>div{
    padding:0;
}
/*商品价格*/
.wareRow>.col-xs-8>div.row>div.col-xs-5{
    color:#f23030;
}
/*商品数量操作列*/
.wareRow>.col-xs-8>div.row>div.col-xs-7{
    padding:0 15px 0 2px;
    flex-direction: row-reverse;
    text-align: center;
}
.wareRow>.col-xs-8>div.row>div.col-xs-7>div,.wareRow>.col-xs-8>div.row>div.col-xs-7>input{
    height:25px;
    border: 1px silver solid;
    padding:0 5px;
}

.wareRow>.col-xs-8>div.row>div.col-xs-7>div:first-child{
    border-left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.wareRow>.col-xs-8>div.row>div.col-xs-7>div:last-child{
    border-right:0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    line-height:22px;
}
.wareRow>.col-xs-8>div.row>div.col-xs-7>input{
    width:30px;
}
@media(min-width:769px){
    .wareRow>.col-xs-8>div.row>div.col-xs-7>input{
        width:45px;
    }
}

/*删除按钮*/
.delete{
    text-decoration: none;
}

.btn{ 
    background:linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-color:#f7dfa5;
    color:black;
    font-size:16px;
    height:40px; 
    margin-top:20px;
}

/*提示的样式*/
@keyframes message-show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.message{
    animation: message-show 0.5s;
    position: absolute;
    width:100px;
    height:60px;
    border-radius: 3px;
    background-color: rgba(50,50,50,0.7);
    top:calc(50% - 30px); /*注意减号两边要各有一个空格*/
    left:calc(50% - 50px);
    color:white;
    font-size:14px;
    line-height:14px;
    font-weight: bold;
    text-align: center;
    padding-top: 23px;
}