<!--src\carts\views\cart.html 购物车视图-->
<div class="row" *ngIf="cartWares && cartWares.length" [@cartShrink]>
    <div *ngFor="let ware of cartWares" class="col-xs-12 col-md-6" [@wareFlyOut]>
        <div class="row wareRow">
            <div class="col-xs-4">
                <img [src]="ware.thumbnailUrl" />
            </div>
            <div class="col-xs-8">
                <div>
                    <a [routerLink]="['/ware-detail',ware.wareId]">{{ware.wareName}}</a>
                </div>
                <div class="row">
                    <div class="col-xs-5">{{ware.price|currency:'CNY':'symbol-narrow'}}</div>
                    <div class="col-xs-7">
                        <div [style.color]="ware.count<2?'silver':'inherit'" (click)="decreaseWareCount(ware)"> - </div>
                        <input type="number" [value]="ware.count" (change)="updateWareCount(ware,$event.target.value,$event)"/>
                        <div (click)="increaseWareCount(ware)"> + </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-7"><a class="delete" (click)="removeWare(ware.id)">删除</a></div>
                </div>
            </div>
        </div>
    </div>
<div class="col-xs-12">
    <button class="btn" type="button">去结算</button>
</div>
</div>
<div class="row" *ngIf="!cartWares || !cartWares.length">
    <div class="col-xs-12">您的购物车是空的</div>
</div>
<div class="message" *ngIf="message">{{message}}</div>

<ware-search [searchBoxStyle]="{'border-color':'orange'}" (onSearch)="logSearch($event)"></ware-search>

 