/*src\commom.css 公共样式*/
ng-component{
    display:block;
}
body{
    padding-top:60px;
    padding-bottom:70px;
    position: relative;
}
 
/*bootstrap列等高*/
.row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.row>[class*='col-']{
    display: flex;
    flex-direction: column;
}

/*宽屏行样式*/
@media (min-width:992px) {
    .row{
        margin-left:0;
        margin-right:0;
    }
    .row>[class*='col-']{
        margin-left:0;
        margin-right:0;
    }
}